@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
    --Darkcyan: hsl(185, 75%, 39%);
    --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
    --Darkgrayishblue: hsl(227, 10%, 46%);
    --Darkgray: hsl(0, 0%, 59%);
}
body{
    padding: 0;
    margin: 0;
    
    background-color: var(--Darkcyan); 
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 51vw bottom 20vh, left 45vw top 50vh;

    font-family: 'Kumbh Sans', sans-serif; 
    font-size: 18px;
}
.container{
    margin: 170px auto 50px;
    width: 330px; 
    height: 380px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.bubbles{
    height: 140px;
    background: url(images/bg-pattern-card.svg);
}
.photo{
    position:absolute;
    top: 87px; 
    left: 35%;
    border: 5px solid white;
    border-radius: 50%;
    height: 96px;
    overflow: hidden;
}
header{
    height: 150px;
    background-color: white;
    text-align: center;
    padding-top: 75px;
    box-sizing: border-box;
}
.name{
    font-weight: 700;
    color: var(--Verydarkdesaturatedblue);
}
.age, .city{
    color: var(--Darkgray);
}
.city{
    margin-top: 10px;
    font-size: 0.8em;
}
.statscontainer{
    background-color: white;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid hsl(0, 0%, 90%);
}
.statistics{
   text-align: center;
}
.quantity{
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--Verydarkdesaturatedblue);
}
.units{
    font-weight: 400;
    font-size: 0.6em;
    color: var(--Darkgray);
    letter-spacing: 2px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 1440px){
    .container{
        width: 380px;
    }
}